[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "contracts/lib/eigenlayer-middleware"]
	path = contracts/lib/eigenlayer-middleware
	url = https://github.com/Layr-Labs/eigenlayer-middleware
[submodule "contracts/lib/eigenlayer-contracts"]
	path = contracts/lib/eigenlayer-contracts
	url = https://github.com/Layr-Labs/eigenlayer-contracts
